apiVersion: apps/v1
kind: Deployment
metadata:
  name: my-app
  namespace: default
spec:
  replicas: 2
  selector:
    matchLabels:
      app: my-app
  template:
    metadata:
      labels:
        app: my-app
    spec:
      containers:
      - name: my-app
        image: 854681582780.dkr.ecr.us-east-1.amazonaws.com/java_demo:latest
        ports:
        - containerPort: 8080
